*{
    padding: 0;
    margin: 0;
    font-family: 'Barlow', sans-serif;
}
::-webkit-scrollbar
{
	width: 5px;
  background-color: none;
  position: relative;
  left: -10px;
}

::-webkit-scrollbar-thumb
{
	border-radius: 20px;
	background-color: #d8d8d8;
}
  h1{
      text-align: center;
  }

  body{
      background-color: white;
  }
  
  
  .main{
      width: 300px;
      background-color: white;
      height: 300px;
      display: block;

  }
  .pointsIcon{
      width: 17px;
      height: 17px;
      display: inline-block;
      position: relative;
      top: 0px;
      left: 4px;
  }

  .pointsText{
      font-size: 14px;
      display: inline-block;
      position: absolute;
      left: 26px;
      top: 5px;
  }

  .success{
      background-color: rgba(0,0,0,0.8);
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      z-index: 100;
      font-weight: bold;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }

  #successButton{
      color: #3d3d3d;
      background-color: white;
      padding: 10px;
      border-radius: 15px;
      font-weight: 600;
      border: none;
      cursor: pointer;
  }

  #successButton:hover{
      background-color: #cdcdcd;
  }

  .success-off{
      display: none;
  }

  #stats{
      height: 100%;
      width: 100%;
      position: relative;
      background-color: #ededed;
      z-index: 10;
      display: none;
  }

  #bar{
    height: 100%;
    width: 100%;
    background-color: #ededed;
    z-index: 10;
    display: none;
}

  .chart{
      width: 75%;
      height: 70%;
      display: block;
      margin: 12.5%;
      margin-bottom: 30px;
      position: absolute;
      bottom: 0px;
  }

  .days{
      color: #3d3d3d;
  }
  .days, .bars, .years{
      display: flex;
  }

  .days div{
      justify-content: center;
      flex: 1;
      text-align: center;
      font-weight: bold;
      margin-top: 5px;
  }

  .bars{
      height: 80%;
  }

  .bars .column{
    height: 100%;
    flex: 1;
    margin: 2px;
    position: relative;
    display: block;
    width: 100%;
}

.bars .column .val{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    background-color: #3d3d3d;
    height: 0%;
    z-index: 11;
    width: 100%;
    cursor: pointer;
    transition: height ease-in-out 0.4s;
    transition-delay: 0.1s;
}

.year .bars .column .val{
    height: 100%;
}

.month .bars .column{
    margin: 1px;
}

.text{
    color: #3d3d3d;
    text-align: center;
    position: relative;
    top: -18px;
}

@keyframes reveal{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.hideStats{
    display: none;
}

.icon{
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 7px;
    position: relative;
}

.cocktail-icon{
    width: 22px;
    height: 22px;
    cursor: pointer;
    position: absolute;
    top: 5px;
}

.icon:hover{
    background-color: rgba(0,0,0,0.1);
}

#home{
    height: 100%;
    width: 100%;
    background-color: white;
    background-image: url("./images/table.svg");
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: relative;
}

.stats-icon{
    position: absolute;
    top: 0;
    left: 0;
}

.back-icon{
    position: absolute;
    top: 0;
    right: 0;
}
.data-icon-times{
    position: relative;
    display: flex;
    margin: auto;
    justify-content: center;
}

.bold-text{
    font-weight: 700;
    color: #3d3d3d;
    font-size: 18px;
}

.data-small-font{
    color: #3d3d3d;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    line-height: 8px;
}

#data-date, #data-date-month, #data-date-year{
    line-height: 38px;
}


#left-arrow, #left-arrow-month,  #left-arrow-year{
    width: 11px;
    cursor: pointer;
    position: absolute;
    left: 12px;
    top: 50%;
}

#right-arrow, #right-arrow-month, #right-arrow-year{
    width: 11px;
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: rotate(180deg);
}

.disabled-arrow{
    cursor: default!important;
    opacity: 0.2;
}

.hide-stats-type{
    display: none;
}

.selected-data-mode{
    background-color: rgba(0,0,0,0.1)
}


.nav{
    display: flex;
    width: 100%;
    height: 20px;
    background-color: white;
    
}

.nav-button{
    height: 100%;
    /* padding-top: 5px; */
    margin: 0;
    flex-grow: 1;
}

.nav-button .icon{
    background-color: white;
    margin: auto;
    display: block;
    position: relative;
}

#selector{
    width: 35px;
    height: 3px;
    background-color: #3d3d3d;
    position: absolute;
    bottom: 0;
    left: 132px;
    z-index: 10;
    transition: left ease 0.26s;
}

.years{
    font-size: 9px;
    margin-top: 10px;
}

.cocktailIcon{
    height: 200px;
    width: 130px;
    display: block;
    margin: auto;
    cursor: pointer;
    background-image: url("https://i.pinimg.com/originals/b3/39/b2/b339b26453746635c91cca794d48bd58.jpg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left: -65px;

}
.cocktail-card-wrapper{
    width: 140px;
    height: 180px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -70px;
    top: 50%;
    margin-top: -90px;
    z-index: 2;
}
.card-main{
    height: 97%;
    width: 97%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    border-radius: 9%;
    z-index: 1;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 22% 16% 13% 20% auto;
    grid-template-areas: 
        "header header header header header header header header header header" 
        ". cocktail-icon cocktail-icon . timer-icon timer-icon .  cash-icon cash-icon ."
        ". cocktail-icon-text cocktail-icon-text . timer-icon-text timer-icon-text .  cash-icon-text cash-icon-text ."
        ". . start-button start-button start-button start-button start-button start-button. ."
        ". . . xp xp xp xp . . .";
}

.card-shadow{
    height: 97%;
    width: 97%;
    background-color: #cecece;
    position: absolute;
    bottom: 1px;
    right: 0;
    display: grid;
    border-radius: 9%;
}

.card-name{
    grid-area: header;
    text-align: center;
    align-self: center;
    text-transform: uppercase;
}

.card-text-large{
    color: #3d3d3d;
    font-weight: 700;
    font-size: 16px;
}

.card-icon{
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}

#cocktail-icon{
    grid-area: cocktail-icon;
    background-image: url("./images/cocktail-icon-circle.svg");
}

#timer-icon{
    grid-area: timer-icon;
    background-image: url("./images/timer-icon-circle.svg")
}

#cash-icon{
    grid-area: cash-icon;
    background-image: url("./images/cash-icon-circle.svg")
}

.card-text-small{
    color: #3d3d3d;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
}

#cocktail-icon-text{
    grid-area: cocktail-icon-text;
}

#timer-icon-text{
    grid-area: timer-icon-text;
}

#cash-icon-text{
    grid-area: cash-icon-text;
}

#card-play-button{
    background-color: #3d3d3d;
    color: white;
    grid-area: start-button;
    text-align: center;
    border-radius: 17px;
    cursor: pointer;
    line-height: 34.56px;
}

.progress {
    --percent: 50;
    stroke-dashoffset: calc(142 - (var(--percent) * 142 / 100));
    stroke: #3d3d3d;
    
  }
  .progress-store{
    --percent: 50;
    stroke-dashoffset: calc(142 - (var(--percent) * 142 / 100));
    
  }
.card-main svg{
    grid-area: xp;
    align-self: center;
    width: 100%;
}

#card-xp-text{
    grid-area: xp;
    align-self: end;
    margin-bottom: 10px;
}

/* #today{
    position: relative;
    top: -20px;
} */

h1{
    line-height: 35px;
}

/* .hoverAction{
    transition: opacity 0.1==s ease;
} */
#bar{
    padding: 8px;
}
.hoverAction:hover{
    opacity: 0.5;
}
.cash{
    display: flex;
    background-color: #3d3d3d;
    color: white!important;
    width: 30%;
    border-radius: 15px;
    padding-top: 2px;
    padding-left: 2px;
    
}

.cash-text{
    height: 100%;
    margin-top: -2px;
    margin-left: 5px;
}

.cash img{
    padding: 0px;
    margin-bottom: 2px;
}

.store-container{
    width: 95%;
    height: 85%;
    margin-top: 8px;
    margin-left: -6px;
    overflow-y: scroll;
    padding-left: 8px;
}

.store-card{
    height: 130px;
    width: 130px;
    display: inline-block;
    background-color: white;
    margin-right:2px; 
    margin-top:3.3px; 
    border-radius: 7px;
    padding: 2px;
    cursor: pointer;
    position: relative;
    color: #3d3d3d;
    font-weight: 600;
    font-size: 14px;
}
.store-card-stats-grid{
    height: 43px;
    width: 40px;
    display: grid;
    position: relative;
    top: 0;
    left: 0;
    grid-template-rows: 33.33% 33.33% 33.33% auto;
    grid-template-columns: 33.3% 66.6% ;
    grid-template-areas: 
        "cocktail-icon cocktail-text-card "
        "cash-icon cash-text-card "
        "timer-icon timer-text-card  ";
    z-index: 1;
}

#store-card-cocktail{
    grid-area: cocktail-icon;
    width: 96%;
    align-self: end;
}

#store-card-cash{
    grid-area: cash-icon;
    width: 96%;
    align-self: end;
}
#store-card-timer{
    grid-area: timer-icon;
    width: 96%;
    align-self: end;
}

#cocktail-text-card{
    grid-area: cocktail-text-card;
    align-self: center;

}
#cash-text-card{
    grid-area: cash-text-card;
    align-self: center;

}
#timer-text-card{
    grid-area: timer-text-card;
    align-self: center;

}

.card-cocktail-preview{
    position: absolute;
    top: 20px;
    left: 50%;
    width: 60px;
    height: 90px;
    margin-left: -30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-color: rgba(0,0,0,0.1)
}
.card-progress{
    width: 50%;
    position: absolute;
    left: 50%;
    margin-left: -25%;
    bottom: 10px;
    z-index: 2;
}

.store-card-progress-text{
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.store-container-block{
    background-color: rgba(237, 237, 237, 0.6);
    width: 100%;
    height: 78%;
    position: absolute;
    z-index: 10;
    display: none;
}

/* <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86.07 86.07">
  <title>Cocktail</title>
  <g>
    <polygon points="28.17 30.25 56.59 30.25 57.37 29.32 60.06 26.16 24.7 26.16 28.17 30.25" style="fill: #3d3d3d"/>
    <path d="M787.45,743.51a43,43,0,1,0,43,43A43,43,0,0,0,787.45,743.51Zm23.18,23.31L804,774.68h0l-6.87,8.09-8.87,10.44v18l9.61,5.15H775.76l9.61-5.15v-18L763,766.82h37.55l9.3-10.44,2.13,1.89-7.61,8.54h6.31Z" transform="translate(-744.41 -743.51)" style="fill: #3d3d3d"/>
  </g>
</svg> */


