*{
    padding: 0;
    margin: 0;
    font-family: 'Barlow', sans-serif;
}
  h1{
      text-align: center;
  }
  #clock{
      margin-top: 10px;
  }
  .cocktailIcon{
      height: 90px;
      width: 90px;
      display: block;
      margin: auto;
      cursor: pointer;
      border-radius: 100%;
      background-image: url("./images/default.gif");
      background-size: 260%;
      background-position: 48% center;
  }
  body{
      width: 300px;
      background-color: #3498db;
      color: white;
      height: 300px;

  }
  .pointsIcon{
      width: 17px;
      height: 17px;
      display: inline-block;
      position: relative;
      top: 0px;
      left: 4px;
  }

  .pointsText{
      font-size: 14px;
      display: inline-block;
      position: relative;
      left: 4px;
      top: -3px;
  }

  .success{
      background-color: rgba(0,0,0,0.6);
      width: 100%;
      height: 100%;
      position: fixed;
      display: flex;
      z-index: 10;
      font-weight: bold;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }

  .success-off{
      display: none;
  }

  #stats{
      height: 100%;
      width: 100%;
      position: fixed;
      background-color: #ededed;
      z-index: 10;
      
  }

  .chart{
      width: 75%;
      height: 70%;
      display: block;
      margin: 12.5%;
      margin-bottom: 30px;
      position: absolute;
      bottom: 0px;
  }

  .days{
      color: #3d3d3d;
  }
  .days, .bars{
      display: flex;
  }

  .days div{
      justify-content: center;
      flex: 1;
      text-align: center;
      font-weight: bold;
      margin-top: 5px;
  }

  .bars{
      height: 80%;
  }

  .bars .column{
    height: 100%;
    flex: 1;
    margin: 2px;
    position: relative;
    display: block;
    width: 100%;
}

.bars .column .val{
    display: block;
    position: absolute;
    bottom: 0;
    background-color: #3d3d3d;
    height: 0%;
    z-index: 11;
    width: 100%;
    cursor: pointer;
    transition: height ease-in-out 0.4s;
    transition-delay: 0.1s;
    
}

.text{
    color: #3d3d3d;
    text-align: center;
    position: relative;
    top: -18px;
    /* opacity: 0; */
    /* animation-name: reveal;
    animation-duration: 0.2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; */
}

@keyframes reveal{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


#today{
    font-weight: normal;
    font-size: 14px;
}

.hideStats{
    display: none;
}

.icon{
    width: 25px;
    cursor: pointer;
    padding: 7px;
}

.icon:hover{
    background-color: rgba(0,0,0,0.1);
}

.stats-icon{
    position: absolute;
    top: 0;
    left: 0;
}

.week-icon{
    position: relative;
    top: 0;
}
.month-icon{
    position: relative;
    top: 0;
}
.years-icon{
    position: relative;
    top: 0;
}
.back-icon{
    position: absolute;
    top: 0;
    right: 0;
}
.data-icon-times{
    position: relative;
    display: block;
    margin: auto;
    width: 122px;
}

.bold-text{
    font-weight: 700;
    color: #3d3d3d;
    font-size: 22px;
}

.data-small-font{
    color: #3d3d3d;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
}

#data-date{
    line-height: 30px;
}

#left-arrow{
    width: 11px;
    cursor: pointer;
    position: absolute;
    left: 12px;
    top: 50%;
}

#right-arrow{
    width: 11px;
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: rotate(180deg);
}

.disabled-arrow{
    cursor: default!important;
    opacity: 0.2;
}


