*{
    padding: 0;
    margin: 0;
}
  h1{
      text-align: center;
  }
  #clock{
      margin-top: 10px;
  }
  .cocktailIcon{
      height: 70px;
      width: 70px;
      display: block;
      margin: auto;
      cursor: pointer;
      border-radius: 100%;
      background-image: url("./images/default.gif");
      background-size: 260%;
      background-position: 48% center;
  }
  body{
      width: 200px;
      background-color: #3498db;
      color: white;
  }
  .pointsIcon{
      width: 17px;
      height: 17px;
      display: inline-block;
      position: relative;
      top: 0px;
      left: 4px;
  }

  .pointsText{
      font-size: 14px;
      display: inline-block;
      position: relative;
      left: 4px;
      top: -3px;
  }

  .success{
      background-color: rgba(0,0,0,0.6);
      width: 100%;
      height: 100%;
      position: fixed;
      display: flex;
      z-index: 10;
      font-weight: bold;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }

  .success-off{
      display: none;
  }

  #stats{
      height: 100%;
      width: 100%;
      position: fixed;
      background-color: #2980b9;
      z-index: 10;
      
  }

  .chart{
      width: 90%;
      height: 74%;
      margin: 10px;
      position: absolute;
      bottom: 0px;
  }

  .days, .bars{
      display: flex;
  }

  .days div{
      justify-content: center;
      flex: 1;
      text-align: center;
      font-weight: bold;
      margin-top: 5px;
  }

  .bars{
      height: 80%;
  }

  .bars .column{
    height: 100%;
    flex: 1;
    margin: 2px;
    position: relative;
    display: block;
    width: 100%;
}

.bars .column .val{
    display: block;
    position: absolute;
    bottom: 0;
    background-color: white;
    height: 0%;
    z-index: 11;
    width: 100%;
    cursor: pointer;
    transition: height ease-in-out 0.6s;
    transition-delay: 0.4s;
    
}

.text{
    color: white;
    text-align: center;
    position: relative;
    top: -18px;
    opacity: 0;
    animation-name: reveal;
    animation-duration: 0.2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes reveal{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


#today{
    font-weight: normal;
    font-size: 14px;
}

.hideStats{
    display: none;
}

.icon{
    width: 17px;
    cursor: pointer;
    padding: 7px;
}

.icon:hover{
    background-color: rgba(0,0,0,0.1);
}

.stats-icon{
    position: absolute;
    top: 0;
    left: 0;
}

.back-icon{
    position: absolute;
    top: 0;
    right: 0;
}